# Compiled object files
*.o

# Executables
*.exe
*.out

# Compiled libraries
*.a
*.so

# bash scripts
*.sh

# Build directory
/build/

# External directoy
/external/

# Dependency files
*.d

# Compose
*.yaml

# Log
/var/

# Editor/IDE specific files
.vscode/
.idea/

# Dont track sonnar files
.scannerwork/

# Dont track sonarqube & postgresql files
.postgresql/
.postgresql_data/
.sonarqube_data/
.sonarqube_extensions/
.sonarqube_logs/


